.FilterList{
  margin: -30px 0 0 0;
  padding: 0 30px;
}

.filterList__container{
  display: flex;
  background: white;
  border-radius: 6px;
}

.filterList__container__filter{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;  
}

.filterList__container__clear{
  margin-left: auto;
  margin-right: 10px;
  align-self: center;
  cursor: pointer;
}
