.Skill{
  display: flex;
  margin: 0 5px 0 5px;
}

.skill__container{
  margin: 5px 0px 5px 0;
  padding: 7px 3px 3px 3px;
  border-radius: 6px 0px 0px 6px;
  background: hsl(180, 52%, 96%);
}

.skill__container__remove{
  margin: 5px 0px 5px 0;
  padding: 7px 3px 3px 3px;
  border-radius: 0px 6px 6px 0px;
  background: hsl(180, 12%, 50%);
  cursor: pointer;
}